header {
      background-color: rgb(109, 185, 160);
      color: rgb(12, 9, 9);

}
body{
      background-color: aliceblue;
      color: aliceblue
}
      
.cabecalho {
      background-color: #424E61;
      color: rgb(211, 59, 59);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 24px 0;
  }

